.blog-header,
.blog-post,
.blog-pagination {
  margin-bottom: 2rem;
}

/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 150%;
}

.blog-main {
  padding-top: 56px;
}

ul.lang-select {
  display: inline-flex;
  /* width: 20%; */
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

ul.lang-select li {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  ul.lang-select {
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: 0;
    margin: 0 auto;
    text-align: center;
  }

  ul.lang-select li {
    padding-left: 0;
    padding-bottom: 10px;
  }
}